.card{
    background-color: rgba(181, 45, 45, 0.443);
    padding: 0px;
    box-shadow: -10px 10px 13px black;
    color: white; 
}


.imgCard{
    height: 325px;
    object-fit: cover;
}

.cardB{
    background-color: rgba(137, 43, 226, 0.37);
}