.navbar {
    background: linear-gradient(
        45deg,
        #a200ff, #002BFF
    ); 
    position: sticky !important;
    z-index: 1800;
}

.navbar a {
    color: white !important;
    font-family: 'Shadows Into Light', cursive;
}

.dropdown-menu {
    background-color: rgba(55, 41, 117, 0.932) ;
}


.logoSign{
    width: 45px;
    height: 45px;
    border-radius: 150px;
    object-fit: cover;
}

.dropLink:hover{
    background-color: rgb(95, 43, 143) !important;
}

