.signIn{
    height: 800px;
    background-image: url("https://images2.alphacoders.com/947/947089.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.signUpform{
    background-color: rgba(18, 18, 18, 0.724);
    border-radius: 10px;
}
.signUpform label{
    color: white;
}